*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.bg{
    background-color: #ADD8E6;
    padding-top: 1em;
    padding-bottom: 1em;
    
   
}
nav>a{
    text-decoration: none;
    color: black;
    margin-right: 0.5em;

}
h1{
    font-size: 16px;
    font-weight: 400;
}
.flexcontainer{
    display: flex;
    align-items: center;
    background-color: #DAA520;
    justify-content: space-between;
    max-width:70%;
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
    min-height: 3em;
}
.flexblue{
    display: flex;
    background-color: blue;
    min-height: 500px;   
}
.bgpurple{

    min-height:80%;
    width:60%;
    margin:50px auto;
    background-color: #EE82EE;
}
/* fine header */
.container{
    min-height: 600px;   
    padding-top: 50px;
}
.flexmain{
    display: flex; 
    margin: 0 auto;
    width: 70%;
    min-height: 500px;
}
.bgazzurro{
    background-color: #1E90FF;
    width: 66%;
}
.bgrosa{
    background-color: #FFC0CB;
    width: 33%;
}
.container.grigio{
    background-color: #D3D3D3;
    margin-top: 50px;
}
.container.grigio2{
    background-color: #D3D3D3;
    min-height: 1000px;
}
.flexmain.verde{
    min-height: 900px;
    margin-top: 0;
}
.verde{
    background-color: green;
    margin-top:50px;
    margin-bottom: 50px;
}


